@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$blue: #0400ff;
$white: #fff;
$black: #000;

@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;

  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  background-repeat: no-repeat;

  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: $white;
}

form {
  @include flexCenter();
  padding: 0.5rem;

  input {
    width: 50ch;
    border-radius: 100vh;
    border: none;

    padding: 0.5rem 1rem;
    font-size: inherit;
    font-family: inherit;

    &:focus {
      outline: 5px double $blue;
    }
  }

  svg {
    color: $white;
  }
}

main {
  flex: 1;

  @include flexCenter();

  .card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    font-size: 130%;

    .row {
      @include flexCenter();
    }
  }
}

button {
  @include flexCenter();
  background: none;
  border: none;
  padding: 0.5rem;

  font-size: 1rem;
  color: inherit;

  &:hover {
    cursor: pointer;
  }
}

footer {
  @include flexCenter();
  justify-content: center;
  padding: 0.5rem;

  a {
    @include flexCenter();
    text-decoration: none;
    color: $white;

    &:hover {
      text-decoration: underline;
    }
  }
}